body {
    background-image: url(/images/gradientbackground.png);
}
p {
    color: aliceblue;
    font-family: 'Oswald', sans-serif;
}
h1 {
    color: aliceblue;
    font-family: 'Oswald', sans-serif;
}
h2 {
    color: black;
    font-family: 'Oswald', sans-serif;
}
h3 {
    color: black;
    font-family: 'Oswald', sans-serif;
}
.bio {
    height: 150px;
    width: 500px;
    margin: auto;
    
}
.socials, .volunteersite {
    height: 315px;
    width: 560px;
    margin: auto;
}
.socialmediainfo, .volunteerinfo {
    height: 300px;
    width: 500px;
    margin: auto;
    padding-bottom: 50px;
    font-family: 'Oswald', sans-serif;
}
.contactinfo {
    height: 3px;
    width: 300px;
    margin: auto;
    padding-bottom: 50px;
    font-family: 'Oswald', sans-serif;
    background-color: black;
}

li {
    color: aliceblue;
    font-family: 'Oswald', sans-serif; 
    background-color: black;
    margin-bottom: 10px
}
iframe {
    border-style: groove
}
img {
    border-style: groove
}
.mainheader, .socialheader, .volunteerheader, .contactheader {
    background-image: url(/images/stars.gif);
    background-size: 950px;
    width: 500px;
    margin: auto;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: aliceblue;
    align-self: center;
}
.links {
    font-family: 'Oswald', sans-serif;
        
    background-size: 950px;
    width: 500px;
    margin: auto;
    text-align: center;
    color:aliceblue
}
a:link, a:visited, a:active {
    color:white;
    
    text-decoration: none;
}
.sidenav {
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background-image: url(/images/stars.gif);
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: aliceblue;
  display: block;
  font-family: 'Oswald', sans-serif;
}
.sociallink {
    background-color: black
        color:white;
    height: auto;
    width: auto;
    
    text-decoration: none;    
}

.sidenav a:hover {
  color: #064579;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


